<ng-container *ngIf="locations">
    <div class="tab-container">
        <div *ngFor="let location of locations" class="tab" (click)="selectTab(location)">
            <span class="tab-label">{{location?.data?.name}} ({{location?.zip}})</span>
            <span class="close" (click)="removeLocation(location.zip)">&times;</span>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="selectedLocation">
    <ng-container *ngTemplateOutlet="currentConditionsTemplate; context: {$implicit: selectedLocation}"></ng-container>
</ng-container>

<ng-template #currentConditionsTemplate let-location>
    <app-current-conditions [location]="location" [weatherIcon]="weatherIcon"></app-current-conditions>
</ng-template>